<div class="container-fluid">
  <section class="row">
    <div class="col-12">
      <h1>Birds</h1>
    </div>
  </section>
  <section id="birdsHabitat" class="row">
    <!-- <div class="col-12 col-md-3">
      <div class="rounded border border-3 border-dark">
        <img class="img-fluid rounded-top" src="https://media.tenor.com/4L99Hv5dVK4AAAAC/shoebill-the-w.gif"
          alt="Picture of bird">
        <div class="p-3 bg-superior-blue d-flex justify-content-between">
          <div>
            <p class="fs-4">Pigeon</p>
            <p class="fs-4">👀 0</p>
          </div>
          <img class="creator-picture" src="https://unblob.blob.core.windows.net/authpics/Hato.png"
            alt="Creator of this bird">
        </div>
      </div>
    </div> -->
  </section>


</div>